@use '@angular/material' as mat;

@mixin cron-editor-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .cron-editor {
    background-color: mat.get-color-from-palette($primary);
    border-color: mat.get-color-from-palette($accent, A400);
  }

  :host ::ng-deep .mdc-notched-outline > * {
    border: none !important;
  }

}
