:host input.with-danger-addon {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host .btn-with-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

:host .btn-with-textarea {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 96px;
  margin-top: -4px;
}

:host ::ng-deep .ng-dropdown-panel {
  z-index: 9999;
}

:host textarea.textarea-privatekey {
  height: 96px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  resize: none;
}

:host .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}

:host .form-field {
  display: flex;
  align-items: center;
}

:host ::ng-deep .nb-accordion {
  border: 1px solid #ccc;
  box-shadow: none;
}

:host nb-accordion {
  border: 1px solid #ccc;
}

:host .nb-form-field-control-with-prefix, .nb-form-field-control-with-suffix {
  width: 100%;
}

:host .nb-form-field-control-with-prefix {
  height: 96px;
}

@mixin nb-form-field-theme() {
  .nb-form-field-addon {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    @include nb-component-animation(color);

    &-disabled {
      color: nb-theme(form-field-addon-disabled-text-color);
    }
  }

  @each $status in nb-get-statuses() {
    .nb-form-field-addon-#{$status} {
      color: nb-theme(form-field-addon-#{$status}-text-color);

      &-highlight {
        color: nb-theme(form-field-addon-#{$status}-highlight-text-color);
      }
    }
  }

  @each $size in nb-get-sizes() {
    $addon-height: nb-theme(form-field-addon-#{$size}-height);
    $addon-width: nb-theme(form-field-addon-#{$size}-width);

    .nb-form-field-prefix-#{$size},
    .nb-form-field-suffix-#{$size} {
      height: $addon-height;
      width: $addon-width;

      font-size: nb-theme(form-field-addon-#{$size}-font-size);
      line-height: nb-theme(form-field-addon-#{$size}-line-height);
      font-weight: nb-theme(form-field-addon-#{$size}-font-weight);

      nb-icon {
        font-size: nb-theme(form-field-addon-#{$size}-icon-size);
        line-height: nb-theme(form-field-addon-#{$size}-icon-size);
      }
    }

    .nb-form-field-prefix-#{$size} {
      @include nb-ltr(margin-right, calc(#{$addon-width} * -1));
      @include nb-rtl(margin-left, calc(#{$addon-width} * -1));
    }

    .nb-form-field-suffix-#{$size} {
      @include nb-ltr(margin-left, calc(#{$addon-width} * -1));
      @include nb-rtl(margin-right, calc(#{$addon-width} * -1));
    }
  }
}

@mixin nb-form-field-with-prefix($selector, $size) {
  $addon-width: nb-theme(form-field-addon-#{$size}-width);

  .nb-form-field-control-with-prefix #{$selector} {
    @include nb-ltr(padding-left, $addon-width);
    @include nb-rtl(padding-right, $addon-width);
  }
}

@mixin nb-form-field-with-suffix($selector, $size) {
  $addon-width: nb-theme(form-field-addon-#{$size}-width);

  .nb-form-field-control-with-suffix #{$selector} {
    @include nb-ltr(padding-right, $addon-width);
    @include nb-rtl(padding-left, $addon-width);
  }
}
