@import './themes';

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }

  $primary: nb-theme(color-primary-default);

  .mat-radio-outer-circle {
    border-color: $primary;
  }

  .mat-radio-button {
    &.mat-primary {
      &.mat-radio-checked .mat-radio-outer-circle {
        border-color: $primary;
      }

      .mat-radio-inner-circle,
      .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
      &.mat-radio-checked .mat-radio-persistent-ripple,
      &:active .mat-radio-persistent-ripple {
        background-color: $primary;
      }
    }

    &.mat-accent {
      &.mat-radio-checked .mat-radio-outer-circle {
        border-color: $primary;
      }

      .mat-radio-inner-circle,
      .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
      &.mat-radio-checked .mat-radio-persistent-ripple,
      &:active .mat-radio-persistent-ripple {
        background-color: $primary;
      }
    }
  }

  .mat-checkbox-indeterminate, .mat-checkbox-checked {
    &.mat-primary .mat-checkbox-background {
      background-color: $primary;
    }

    &.mat-accent .mat-checkbox-background {
      background-color: $primary;
    }

    &.mat-warn .mat-checkbox-background {
      background-color: $primary;
    }
  }

  .mat-checkbox-checked:not(.mat-checkbox-disabled),
  .mat-checkbox:active:not(.mat-checkbox-disabled) {
    &.mat-primary .mat-ripple-element {
      background: $primary;
    }

    &.mat-accent .mat-ripple-element {
      background: $primary;
    }

    &.mat-warn .mat-ripple-element {
      background: $primary;
    }
  }
}
