// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

$nb-enabled-themes: (default, dark, legacy);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), default, default);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), dark, dark);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  background-basic-color-1: #fff,
  header-background-color: #1c2b36,
  footer-background-color: #1c2b36,
  sidebar-background-color: #1c2b36,
  actions-background-color: #1c2b36,
  menu-background-color: #1c2b36,
  background-basic-color-3: #f0f3f4,
  // card-background-color: #fff,
  divider-color: rgba(0, 0, 0, 0.12),
  card-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25),
  header-shadow: 0 0.5rem 0.5rem 0 #1c2b36,
  text-control-color: #fff,
  menu-item-icon-color: #fff,
  // input-basic-focus-background-color: #fff,
  // input-primary-focus-background-color: #fff,
  // input-success-focus-background-color: #fff,
  // input-danger-focus-background-color: #fff,
  // input-info-focus-background-color: #fff,
  // input-warning-focus-background-color: #fff,
  // input-control-focus-background-color: #fff,
  color-primary-400: #209e91,
  color-primary-500: #1b867b,
  color-basic-100: #fff, // color-basic-100: #666,
  text-basic-color: #666,
  user-name-text-color: #fff,
  menu-text-color: #fff,
  header-text-color: #fff,
  actions-text-color: #fff,
  color-basic-900: #fff,
  color-basic-1000: #666,
  color-basic-1100: #cbcbcb,
  toggle-outline-width: 0,
  toggle-outline-color: #fff,
  button-outline-width: 0,
  toggle-basic-checked-background-color: #209e91,
  color-basic-default-border: #d1d1d1

  // tree-grid-row-background-color: #fff,
  // tree-grid-row-hover-background-color: #fff
), legacy, dark);
