map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}

server {
    listen 80;
    listen [::]:80;

    server_name cyborgbackup.local;
    keepalive_timeout 65;
    client_max_body_size 10M;

    root /usr/share/cyborgbackup-ui/www;
}