@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@angular/material/theming';

@include mat-core();

.icon-failures-true,
.active-failures-true a,
.active-failures-true a:active,
.job-failed,
.job-error {
  color: #d9534f;
}
.icon-failures-true a:hover {
  color: #d9534f;
}
.job-failures-true {
  padding-top: 5px;
  color: #d9534f;
}
.job-event-status,
.license-status {
  padding-top: 5px;
}
.job-new,
.license-valid,
.job-success,
.job-successful {
  color: #5cb85c;
}
.icon-host-all,
.icon-host-failed,
.icon-job-active,
.icon-job-running,
.icon-job-success,
.icon-job-successful,
.icon-job-changed,
.icon-job-ok,
.icon-job-OK,
.icon-job-failed,
.icon-job-skipped {
  &::before {
    // content: '\F111';
  }
}
.icon-job-stopped,
.icon-job-error,
.icon-job-canceled,
.icon-job-stdout-download-tooltip,
.icon-job-unreachable,
.icon-job-failed {
  &::before {
    // content: '\F06A';
  }
}
.icon-job-pending,
.icon-job-waiting,
.icon-job-new,
.icon-job-none,
.icon-job-no-matching-hosts {
  &::before {
    // content: '\F10C';
  }
}
.icon-job-active,
.icon-job-running,
.icon-job-success,
.icon-job-successful,
.icon-job-ok,
.icon-job-OK {
  color: #5cb85c;
}
.icon-job-skipped {
  color: #2dbaba;
}
.icon-job-running {
  -webkit-animation: pulsate 1.5s linear infinite alternate;
  -moz-animation: pulsate 1.5s linear infinite alternate;
  animation: pulsate 1.5s linear infinite alternate;
}
.icon-job-changed,
.job-changed {
  color: #ff9900;
}
.icon-host-failed,
.icon-job-stopped,
.icon-job-error,
.icon-job-failed,
.icon-job-stdout-download-tooltip,
.icon-job-canceled {
  color: #d9534f;
}
.icon-host-all {
  color: #337ab7;
}
.icon-job-unreachable {
  color: #ff0000;
}
.icon-job-none,
.icon-job-pending,
.icon-job-waiting,
.icon-job-new,
.icon-job-no-matching-hosts {
  color: #a9a9a9;
  opacity: 0.45;
}
.icon-schedule-enabled-true::before {
  // content: '\F04D';
}
.icon-schedule-enabled-false::before {
  // content: '\F04B';
}
.icon-socket-ok::before {
  // content: '\F111';
  color: #5cb85c;
}
.icon-socket-error::before {
  // content: '\F111';
  color: #d9534f;
}
.icon-socket-connecting::before {
  // content: '\F042';
  color: #ff9900;
}
div.row {
  margin: 10px;
}

@-webkit-keyframes pulsate {
  0% {
    -moz-transform: scale(0.3);
    opacity: 0.2;
  }
  100% {
    -moz-transform: scale(1.1);
    opacity: 1;
  }
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.3);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1.1);
    opacity: 1;
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.3);
    transform:scale(0.3);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1.1);
    transform:scale(1.1);
    opacity: 1;
  }
}
